In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('washington.csv')

In [24]:
df['Start Time'] = pd.to_datetime(df['Start Time'])
#Create columns for month, day and hour
df['Month'] = df['Start Time'].dt.month_name()
df['Day'] = df['Start Time'].dt.day_name()
df['Start Hour'] = df['Start Time'].dt.hour

In [25]:
df.head(10)

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Month,Day,Start Hour
0,1621326,2017-06-21 08:36:34,2017-06-21 08:44:43,489.066,14th & Belmont St NW,15th & K St NW,Subscriber,June,Wednesday,8
1,482740,2017-03-11 10:40:00,2017-03-11 10:46:00,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber,March,Saturday,10
2,1330037,2017-05-30 01:02:59,2017-05-30 01:13:37,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber,May,Tuesday,1
3,665458,2017-04-02 07:48:35,2017-04-02 08:19:03,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer,April,Sunday,7
4,1481135,2017-06-10 08:36:28,2017-06-10 09:02:17,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber,June,Saturday,8
5,1148202,2017-05-14 07:18:18,2017-05-14 07:24:56,398.000,1st & K St SE,Eastern Market Metro / Pennsylvania Ave & 7th ...,Subscriber,May,Sunday,7
6,1594275,2017-06-19 08:41:43,2017-06-19 09:00:08,1105.429,Park Rd & Holmead Pl NW,8th & H St NW,Subscriber,June,Monday,8
7,1601832,2017-06-20 05:54:42,2017-06-20 06:05:18,636.218,1st & D St SE,Potomac & Pennsylvania Ave SE,Subscriber,June,Tuesday,5
8,574182,2017-03-24 20:37:00,2017-03-24 20:42:00,328.530,18th & R St NW,15th & P St NW,Subscriber,March,Friday,20
9,327058,2017-02-20 21:12:00,2017-02-20 21:31:00,1188.090,17th & Corcoran St NW,Lynn & 19th St North,Subscriber,February,Monday,21

In [28]:
df = df.loc[df['Month'] == 'January']

In [29]:
df = df.loc[df['Day'] == 'Monday']

In [60]:
mc_prec = df['Start Hour'].value_counts(normalize=True, ascending=False)[17]

In [61]:
mc_prec

0.13141809290953546

In [31]:
df['Start Station'].mode()[0]

'Columbus Circle / Union Station'

In [32]:
df['End Station'].mode()[0]

'Columbus Circle / Union Station'

In [33]:
' & '.join(df.groupby(['Start Station', 'End Station']).size().sort_values(ascending=False).idxmax())

'1st & D St SE & 1st & K St SE'

In [62]:
df

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Month,Day,Start Hour
35,34042,2017-01-09 12:29:00,2017-01-09 12:48:00,1138.896,TJ Cmty Ctr / 2nd St & S Old Glebe Rd,Shirlington Transit Center / S Quincy & Randol...,Subscriber,January,Monday,12
210,117386,2017-01-23 09:42:00,2017-01-23 10:03:00,1267.685,Columbia Pike & S Dinwiddie St / Arlington Mil...,Columbia Pike & S Dinwiddie St / Arlington Mil...,Subscriber,January,Monday,9
295,77719,2017-01-16 18:39:00,2017-01-16 18:55:00,933.324,8th & O St NW,New Hampshire Ave & T St NW,Subscriber,January,Monday,18
357,118393,2017-01-23 18:02:00,2017-01-23 18:17:00,866.366,1st & M St NE,4th & E St SW,Subscriber,January,Monday,18
717,77760,2017-01-16 18:46:00,2017-01-16 18:52:00,365.124,Wisconsin Ave & Ingomar St NW,Wisconsin Ave & Brandywine St NW,Subscriber,January,Monday,18
...,...,...,...,...,...,...,...,...,...,...
299325,162817,2017-01-30 08:48:00,2017-01-30 08:55:00,442.784,14th & R St NW,16th & K St NW,Subscriber,January,Monday,8
299578,166546,2017-01-30 20:00:00,2017-01-30 20:08:00,477.398,4th & D St NW / Judiciary Square,4th & M St SW,Customer,January,Monday,20
299592,76204,2017-01-16 14:39:00,2017-01-16 14:51:00,738.871,1st & M St NE,14th & R St NW,Subscriber,January,Monday,14
299751,5331,2017-01-02 18:57:00,2017-01-02 19:03:00,304.731,15th & Euclid St NW,14th & R St NW,Subscriber,January,Monday,18
299992,32912,2017-01-09 08:11:00,2017-01-09 08:14:00,191.131,Thomas Circle,17th & K St NW / Farragut Square,Subscriber,January,Monday,8

In [70]:
df['Start Hour'].value_counts(normalize=True, ascending=False)[17]

0.13141809290953546