In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('washington.csv')

In [4]:
df['Start Time'] = pd.to_datetime(df['Start Time'])
#Create columns for month, day and hour
df['Month'] = df['Start Time'].dt.month_name()
df['Day'] = df['Start Time'].dt.day_name()
df['Start Hour'] = df['Start Time'].dt.hour

In [5]:
df.head(10)

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Month,Day,Start Hour
0,1621326,2017-06-21 08:36:34,2017-06-21 08:44:43,489.066,14th & Belmont St NW,15th & K St NW,Subscriber,June,Wednesday,8
1,482740,2017-03-11 10:40:00,2017-03-11 10:46:00,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber,March,Saturday,10
2,1330037,2017-05-30 01:02:59,2017-05-30 01:13:37,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber,May,Tuesday,1
3,665458,2017-04-02 07:48:35,2017-04-02 08:19:03,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer,April,Sunday,7
4,1481135,2017-06-10 08:36:28,2017-06-10 09:02:17,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber,June,Saturday,8
5,1148202,2017-05-14 07:18:18,2017-05-14 07:24:56,398.000,1st & K St SE,Eastern Market Metro / Pennsylvania Ave & 7th ...,Subscriber,May,Sunday,7
6,1594275,2017-06-19 08:41:43,2017-06-19 09:00:08,1105.429,Park Rd & Holmead Pl NW,8th & H St NW,Subscriber,June,Monday,8
7,1601832,2017-06-20 05:54:42,2017-06-20 06:05:18,636.218,1st & D St SE,Potomac & Pennsylvania Ave SE,Subscriber,June,Tuesday,5
8,574182,2017-03-24 20:37:00,2017-03-24 20:42:00,328.530,18th & R St NW,15th & P St NW,Subscriber,March,Friday,20
9,327058,2017-02-20 21:12:00,2017-02-20 21:31:00,1188.090,17th & Corcoran St NW,Lynn & 19th St North,Subscriber,February,Monday,21

In [8]:
df['Start Hour'].mode()[0]

8

In [9]:
df['Start Station'].mode()[0]

'Columbus Circle / Union Station'

In [10]:
df['End Station'].mode()[0]

'Columbus Circle / Union Station'

In [12]:
mc_comb = df.groupby(['Start Station', 'End Station']).size().sort_values(ascending=False).idxmax()

In [13]:
type(mc_comb)

tuple

In [17]:
' & '.join(mc_comb)

'Jefferson Dr & 14th St SW & Jefferson Dr & 14th St SW'